
h1, h2, p {
    margin: 2px;
    padding: 5px 10px;
    width: 300px;
    background-color: black;
    color: green;
    border: 2px solid lightgreen;
}
p {
    width: 270px;
}

#button1, #button2 {
    margin: 2px;
    padding: 5px 10px;
    width: 325px;
    background-color: lightgreen;
    color: green;
    border: 2px solid gray;
}
