body {
  background-color:black;
}
h1 {
  color:springgreen;
  border:2px solid white;
  text-align: center;
  padding:10px;
  background-color:gray;
}
div {
  background-color:black;
  color:springgreen;
  border:2px solid white;
  padding:5px;
  margin:2px;
}
